{% extends "blog/base.html" %}

{% block title %}
    My Blog
{% endblock %}

{% block content %}

    <h1>My Blog</h1>

    <div class="posts-grid">
    {% for post in posts %}
        <article class="post-card">
            <header class="post-meta">
                <h2 class="post-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
                <p class="date">Published {{ post.publish|date:"F j, Y" }} by {{ post.author }}</p>
            </header>

            <div class="post-excerpt">
                {{ post.body|truncatewords:30 }}
            </div>

            <a class="read-more" href="{{ post.get_absolute_url }}">Read more →</a>
        </article>
    {% endfor %}
    </div>

    {% include "pagination.html" with page=posts %}

{% endblock %}